/**
 * Content 4 Basic
 * -----------------------------------------------------------------------------
 */
.l-subcnt--11{
	background-color:$color--white;
	@include rem(padding, $padding--double 0);
	overflow:hidden;

	.l-subcnt--11--wrap{
		color:$color--text--dark;
		.x-list{
			background-color:$color--gray-light--40;
			@include rem(padding, $padding--half);
			width:100%;
			@include rem(margin, $padding--half 0);
      color:$color--secondary--10;
      ul {
        margin: 0;
        padding: 0;
      }
			li{
				font-weight:500;
				
				@include rem(font-size, $font-size--base);
				list-style: none;
				float:left;
				width:50%;
				@include rem(padding, 1rem $spacing--base);
			}
		}
		.x-rightbar{ /* v2 */
			@include rem(padding, $padding--half);
			@include rem(margin-left, $padding--half);
			background-color:$color--gray-light--30;
			right:0;
			width:100%;
			@include rem(height, 24rem);
			&.x-heightauto{
				height:auto;
			}
			div{
				@include rem(margin-bottom, $padding--small);
				h3{
					margin-top:0;
					@include rem(margin-bottom, $spacing--quarter);
					&+small{
						display:block;
						color:$color--gray-light;
						margin-top:0;
					}
				}
				small{
					display:block;
					color:$color--gray-light;
					@include rem(margin, $spacing--base 0);
				}
				textarea{
					max-width:100%;
				}
			}
		}
	}
}
@include bp-xxs-xs{
	.l-subcnt--11--wrap{
		.x-list{
			li{
				float:none!important;
				width:100%!important;
			}
		}
	}
}
@include bp-xxs-m{
	.l-subcnt--11--wrap{
		.x-rightbar{
			@include rem(margin, $padding--base 0);
			margin-left:0!important;
		}
		@include rem(padding, $padding--half);
	}
}
