/**
 * Header 1 Basic
 * -----------------------------------------------------------------------------
 */
.bg_main{
	background:$color--primary--10 url('../img/bg1.jpg') no-repeat top center;
	background-size: auto;
}
.bg_hero_1{
	background:$color--primary--10 url('../img/bg1.jpg') no-repeat top center;
	background-size: auto;
}
.bg_hero_2{
	background:$color--primary--10 url('../img/bg2.jpg') no-repeat top center;
	background-size: auto;
}
.bg_hero_3{
	background:$color--primary--10 url('../img/bg3.jpg') no-repeat top center;
	background-size: auto;
}
.bg_hero_4{
	background:$color--primary--10 url('../img/bg4.jpg') no-repeat top center;
	background-size: auto;
}
.bg_hero_4{
	background:$color--primary--10 url('../img/bg5.jpg') no-repeat top center;
	background-size: auto;
}
.bg_hero_4{
	background:$color--primary--10 url('../img/bg5.jpg') no-repeat top center;
	background-size: auto;
}
.l-header--10{
		overflow:visible;
	.l-header--10--wrap{
		@include rem(padding, $spacing--base 0);
		.s-logo--main{
			float:left;
			@include rem(margin-right, $spacing--base);
		}
		.language-wrapper{
			button, a{
				margin:2px;
				display:none;
				&.current{
					display:inline-block;
				}
			}
			display: inline;
			display: inline-block;
			&:hover, &:focus{
				button:nth-child(1n+2), a:nth-child(1n+2){
					position:absolute;
					display:block;
					margin-top:1px;
				}
			}
		}
	}
}
@import './../../../_modules/blocks/hero/b-hero';
@include bp-xxs-xs{
	.s-logo--main{
		@include rem(margin-top, $padding--half);
		width:100%;
		text-align:center;
	}
	.second-line{
		display:none;
	}
	.responsive-menu{
		text-align:center;
		@include rem(margin-top, $padding--base);
		.burger{
			display:inline-block!important;
		}
	}
}
@include bp-xxs-m{
	.l-header--10--wrap{
		@include rem(padding, $padding--half);
	}
}