/* Buttons
 * -------------------- */

.btn-outline, input[type="submit"].btn-outline, input[type="button"].btn-outline, input[type="reset"].btn-outline {
  display: inline-block;
  margin: 2px;
  background-color:transparent;
  color:$color--button;
  @include rem(padding, 0.5rem 1.2rem);
  @include rem(font-size, .75rem);
  line-height: $line-height--base;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  letter-spacing: 1px;
  white-space: nowrap;
  border: 1px solid $color--gray-light--20;
  border-radius: 0;
  cursor: pointer;
  outline:none;

  &,
  &:hover,
  &:focus { 
    text-decoration: none;
  }

  &:hover, &:focus {
    background-color:$color--white; 
    color:$color--gray;
  };

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: .65;
  }
}
.btn-outline-dark, input[type="submit"].btn-outline-dark, input[type="button"].btn-outline-dark, input[type="reset"].btn-dark {
  color:$color--primary--10;
  &:hover, &:focus{
    outline:none;
    background-color:$color--main;
    color:$color--white;
  }
  &.x-reverse{
    color:$color--white;
    background-color:$color--main;
    &:hover, &:focus{
      outline:none;
      background-color:transparent;
      color:$color--primary--10;
    }
  }
}
.btn-outline-white, input[type="submit"].btn-outline-white, input[type="button"].btn-outline-white, input[type="reset"].btn-outline {
  border: 1px solid $color--white;
}
.btn-outline-main, input[type="submit"].btn-outline-main, input[type="button"].btn-outline-main, input[type="reset"].btn-outline-main {
  border: 1px solid $color--main;
}
.btn-link {
  display: inline-block;
  background-color:transparent;
  color:$color--button;
  @include rem(padding, 0.5rem 1.2rem);
  @include rem(font-size, .75rem);
  line-height: $line-height--base;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  letter-spacing: 1px;
  white-space: nowrap;
  border-radius: 0;
  cursor: pointer;
  outline:none;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover, &:focus {
    outline: 1px solid $color--main;
    color:$color--white;
  };

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: .65;
  }
}
.btn-link-dark{
  color:$color--primary--10;
  &:hover, &focus{
    outline:none;
    background-color:$color--main;
    color:$color--white;
  }
}
.btn-link-active{
  background-color:$color--main;
  color:$color--white;
}
