/**
 * Topbar 1 Basic
 * -----------------------------------------------------------------------------
 */
.l-topbar--10{
 	height:0px;
 	background-color:$color--main;
}
.l-topbar--10--wrap{
	height:0px;
	line-height:0px;
}