/**
 * Mixins
 * -----------------------------------------------------------------------------
 */

/**
 * Remtopx and Pxtorem
 * -----------------------------------------------------------------------------
 * Based on http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/ 
 *
 * Usage:
 *
 *      body {
 *          @include rem(font-size, 1.6rem);
 *          @include rem(padding, 20px 10px);
 *      }
 */
// Strips the unit - 2rem > 2
@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : ();
  $rem: ();

  @each $value in $values {

    @if $value == 0 or $value == auto {
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == "px" {
        $px : append($px,  $value);
        $rem: append($rem, ($val / parseInt($font-size--base) + rem));
      }

      @if $unit == "rem" {
        $px : append($px,  ($val * parseInt($font-size--base) + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

/**
 * Media Queries
 * -----------------------------------------------------------------------------
 * A simple mixin for using media queries. 
 *
 * Usage:
 *
 *      header {
 *          @include bp-xxs() {
 *              display: none;
 *          }
 *          @include bp-l() {
 *              display: block;
 *          }
 *      }
 */

@mixin bp-xxs {
    @media only screen and (max-width: 37.49em) {
        @content;
    }
}

@mixin bp-xxs-xs {
    @media only screen and (max-width: 47.99em) {
        @content;
    }
}

@mixin bp-xxs-s {
    @media only screen and (max-width: 61.99em) {
        @content;
    }
}

@mixin bp-xxs-m {
    @media only screen and (max-width: 74.99em) {
        @content;
    }
}

@mixin bp-xs {
    @media only screen and (min-width: 37.5em) and (max-width: 47.99em) {
        @content;
    }
}

@mixin bp-s {
    @media only screen and (min-width: 48em) and (max-width: 61.99em) {
        @content;
    }
}

@mixin bp-m {
    @media only screen and (min-width: 62em) and (max-width: 74.99em) {
        @content;
    }
}

@mixin bp-l {
    @media only screen and (min-width: 75em) {
        @content;
    }
}

// Mixin for simple width and height
@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}
// Mixin for easy border-based testings
@mixin border($size:1px, $color:red){
  border: $size solid $color;
}