/**
 * Utilities
 * -----------------------------------------------------------------------------
 */

/* visibility */
.u-hidden { display: none !important; }
.u-invisible { visibility: hidden !important; }

/* text-align */
.u-text-left { text-align: left; }
.u-text-right { text-align: right; }
.u-text-center { text-align: center; }

/* floats */
.u-float-left { float: left; }
.u-float-right { float: right; }

/* margins*/
.u-margin-bottom { @include rem(margin-bottom, $spacing--quad); margin-bottom: $spacing--quad!important; }
.u-margin-bottom-small { @include rem(margin-bottom, $spacing--base); margin-bottom: $spacing--base!important; }
.u-margin-bottom-mini { @include rem(margin-bottom, $spacing--half); margin-bottom: $spacing--half!important; }

.u-margin-top { @include rem(margin-top, $spacing--quad); margin-top: $spacing--quad!important; }
.u-margin-top-small { @include rem(margin-top, $spacing--base); margin-top: $spacing--base!important; }
.u-margin-top-mini { @include rem(margin-top, $spacing--half); margin-top: $spacing--half!important; }

.u-margin-right-small{ @include rem(margin-right, $spacing--half); margin-right: $spacing--half!important; }

.u-margin-small { @include rem(margin, $spacing--base 0); margin: $spacing--base 0!important; }

/* paddings */
.u-padding-small { @include rem(padding, 10px 0); }
.u-padding-mini { @include rem(padding, $spacing--half); }

/* position */
.u-relative { position: relative; }

/* debug */
.u-debug{ border:1px solid red; }
.u-debug-blue{ border:1px solid blue; }
.u-debug-green{ border:1px solid green; }

/* display */
.u-block { display: block; }
.u-inline-block { display: inline-block; }

/* clear */
.u-clear { clear: both; height: 0; width: 0; }

/* equal-height fix */
.u-equal-height{ display:table; table-layout:fixed; height:1px; }
.u-equal-height > div { display:table-cell; height:100%; float:none; }

/** Fix for fullwidth-colums that shared a row before or in bigger resolution. Removes the equal-height */
.u-mobile-visible{ display:none }

/* other utility classes */
.u-edit { position: absolute; @include rem(margin, 20px); }

/** Append class to parent link, make parent container relative **/
.u-fullspan-link span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* media queies for the utilities */
@include bp-xxs-xs{
  .u-equal-height{
    display:block;
    height:auto;
  }
	[class*="-12"] {
    display:block!important;
    height:auto!important;
	}
}

@include bp-xxs-s{
  .u-margin-bottom { @include rem(margin-bottom, $spacing--double); margin-bottom: $spacing--double!important; }
  .u-mobile-hidden { display:none!important; }
  .u-mobile-visible{ display:block; }
}