/**
 * Colors
 * -----------------------------------------------------------------------------
 */

// Brand colors
$color--main:                   #80232a; // Red

// Color-pair 10
$color--primary--10:            #131414; // Grey
$color--secondary--10:          #131414; // Darker Grey

// Base colors
$color--white:                  #fff;
$color--black:                  #222;
$color--gray:                   #131414;
$color--gray-dark:              #060606;
$color--gray--dark--20:					#282a2e;
$color--gray--dark--30:         #484848;
$color--gray-light:             #868686;
$color--gray-light--20:					#313131;
$color--gray-light--30:					#efefef;
$color--gray-light--40:					#f7f7f7;

// Text colors
$color--text:                   $color--white;
$color--text--light:						$color--gray-light;
$color--text--dark:							$color--gray-dark;
$color--link:                   $color--gray-light;

// Button colors
$color--button:                 $color--white;
$color--button--hover:          $color--gray-dark;

// Third party brand colors
$color--facebook:               #03539e;

// Alert and success colors
$color--alert:                  #ff0000;
$color--success:                #00ff00;


/**
 * Font sizes and spacing/widths
 * -----------------------------------------------------------------------------
 */
// Font families
$font-family--primary:           'AleoRegular', sans-serif;
$font-family--primary--bold:     'AleoBold', sans-serif;
$font-family--secondary:         'Roboto', sans-serif;

// Font sizes
$font-size--base:                16px;
$font-size--small:               0.75rem;
$font-size--medium:              1.2rem;
$font-size--large:               1.5rem;
$font-size--double:							 2rem;

// Line-heights
$line-height--base:             1.4;
$line-height--small:            0.8;
$line-height--medium:						1.7;
$line-height--large:            2;

// Spacings
$spacing--base:                  $font-size--base * $line-height--base;
$spacing--xs:										 $spacing--base / 6;
$spacing--quarter:               $spacing--base / 4;
$spacing--half:                  $spacing--base / 2;
$spacing--double:                $spacing--base * 2;
$spacing--quad:                  $spacing--base * 4;

// Paddings
$padding--base:									$spacing--base * 2;
$padding--half:									$padding--base / 2;
$padding--quarter:							$padding--base / 4;
$padding--small:								$padding--base * 0.75;
$padding--medium:								$padding--base * 1.2;
$padding--big:									$padding--base * 1.5;
$padding--big--2:								$padding--base * 3;
$padding--double:								$padding--base * 2;
$padding--quad:									$padding--base * 4;


// Adjust the border radius
$border-radius--10:             0.125rem;
$border-radius--20:             0.313rem;

// Transitions
$transition-time--base:         0.5s;

// Z-Index Plan
$z-index--10:                   10;
$z-index--20:                   20;
$z-index--30:                   30;