/**
 * Footer 1 Basic
 * -----------------------------------------------------------------------------
 */
.l-footer--10{
 	background-color:$color--gray-dark;
}
.l-footer--10--wrap{
	padding:$padding--double 0;
	color:$color--white;
	.logo_footer{
		@include rem(max-width, 250px);
	}
	h2{
		font-family: $font-family--primary--bold;
		@include rem(font-size, 2rem);
		@include rem(padding-bottom, $padding--base);
		color:$color--gray--dark--30;
	}
	.dark-grey{
		color:$color--gray--dark--30;
	}
	ul{
    padding: 0;
    margin: 1px;
    overflow: hidden;
    > li{
	  	list-style: none;
	    @include rem(margin, 10px 1px);
	    a{
	    	color:$color--white;
	    }
 	  }
  }
}
@include bp-xxs-xs{
	.l-footer--10--wrap{
	text-align:center;
	}
}
@include bp-xxs-m{
	.l-footer--10--wrap{
		@include rem(padding, $padding--double $padding--half);
		h2{
			@include rem(padding, $padding--half 0);
		}
	}
}