/**
 * Lists
 * -----------------------------------------------------------------------------
 */

.h-list,
.v-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

.h-list > li {
  float: left;
  @include rem(margin-right, $spacing--half);
}

.h-list > li:last-child {
  margin-right: 0;
}

.h-list--centered {
  text-align: center;

  > li {
    float: none;
    display: inline-block;
    @include rem(margin, 0 $spacing--half);

    &:last-child {
      @include rem(margin-right, $spacing--half);
    }
  }
}

.h-list--piped {
  > li {
    margin-right: 0;

    + li {
      @include rem(margin-left, $spacing--half);
      @include rem(padding-left, $spacing--half);
      border-left: solid 1px;
    }
  }
}

.v-list > li {
  @include rem(margin-top, $spacing--half);
}
