/**
 * Content 4 Basic
 * -----------------------------------------------------------------------------
 */
.l-subcnt--20{
	background-color:$color--gray-light--30;
	@include rem(padding, $padding--double 0);

	.l-subcnt--20--wrap{
		color:$color--text--dark;
		img{
			display:block;
			display:inline-block;
			@include rem(margin-right, $padding--base);
		}
		.t-text{
			position:absolute;
			top:50%;
			transform: translateY(-50%);
			h2{
				margin-top:0;
			}
		}
	}
}
@include bp-xxs-m{
	.l-subcnt--20--wrap{
		@include rem(padding, $padding--half);
	}
}
