<template>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer
        fixed
        clipped
        v-model="drawer"
        app
        stateless   
        hide-overlay
      >
        <v-list dense>
          <v-list-tile to="/">
            <v-list-tile-action>
              <v-icon>home</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Probemitglieder</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="" to="/profil">
            <v-list-tile-action>
              <v-icon>contact_mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Mein Profil</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar color="red accent-4" dark clipped-left fixed flat app>
         <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon> 
        <v-toolbar-title>Probemitglieder</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-menu bottom right offset-y>
              <v-btn slot="activator" dark icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile to="/">
                  <v-list-tile-title>Logout</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-toolbar-items>
      </v-toolbar>
      <v-content> 
        <router-view/>
      </v-content> 
    </v-app>
  </div>
</template>

<script>
  export default {
    data: () => ({
      drawer: null
    }),
    props: {
      source: String
    }
  }
</script>
<style>

</style>
