/**
 * Base site styling
 * -----------------------------------------------------------------------------
 */

// Box-sizing on wildcard, their pseudo-elements and hzml are done by responsive.css atm. Hate redundancy on this level.

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @include rem(font-size, $font-size--base);
  height:100%;
}

body {
  font-size:100%;
  font-family: $font-family--secondary;
  line-height:$line-height--base;
  color:$color--black;
  background-color:$color--black;
  height:100%;
}

::-moz-selection {
  background: $color--main;
  color: $color--white;
}

::selection {
  background: $color--main;
  color: $color--white;
}
