/* Custom include
 * -------------------- */

#toTop {
  background: url('../img/top-arrow.svg') no-repeat center center $color--main;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border: none;
  text-indent: 100%;
  z-index:99;
}
#toTopHover {
  background: url('../img/top-arrow.svg') no-repeat center center $color--black;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  z-index:99;
}