/* Fonts include
 * -------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

@font-face{ 
	font-family: 'AleoRegular';
	src: url('../font/Aleo-Regular-webfont.eot');
	src: url('../font/Aleo-Regular-webfont.eot?iefix') format('eot'),
	     url('../font/Aleo-Regular-webfont.woff') format('woff'),
	     url('../font/Aleo-Regular-webfont.ttf') format('truetype'),
	     url('../font/Aleo-Regular-webfont.svg#webfont') format('svg');
}
@font-face{ 
	font-family: 'AleoBold';
	src: url('../font/Aleo-Bold-webfont.eot');
	src: url('../font/Aleo-Bold-webfont.eot?iefix') format('eot'),
	     url('../font/Aleo-Bold-webfont.woff') format('woff'),
	     url('../font/Aleo-Bold-webfont.ttf') format('truetype'),
	     url('../font/Aleo-Bold-webfont.svg#webfont') format('svg');
}
