/**
 * Site typography
 * -----------------------------------------------------------------------------
 * A collection of all the typography styling for the site
 */

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.f-hero,
.f-alpha,
.f-beta,
.f-gamma,
.f-delta,
.f-epsilon,
.f-zeta  {
  font-family:$font-family--primary--bold;
  font-weight:normal;
}

h1,
.f-alpha {
  @include rem(font-size, 2rem);
  line-height:1.3;  
}

h2,
.f-beta {
  @include rem(font-size, 1.5rem);
  line-height:1.2;  
}

h3,
.f-gamma {
  @include rem(font-size, 1.2rem);
  line-height:1.4;  
}

h4,
.f-delta {
  @include rem(font-size, 0.8rem);
  line-height:1.6;  
}

h5,
.f-epsilon {
  @include rem(font-size, 0.6rem);
  line-height:1.8;  
}

h6,
.f-zeta {
  @include rem(font-size, 0.4rem);
  line-height:2;  
}


// Paragraphs
p {
  font-family:$font-family--secondary;
  font-weight:normal;
  line-height:$line-height--large;
  margin:0;
}

// Links
a {
  color: $color--link;
  text-decoration:none;

  &:hover { text-decoration:underline; }
  &:focus { outline:0; }
}

p a {

}

// Utilities
.asterisk{
  color:$color--main;
  @include rem(font-size, $font-size--small);
}

// Sets
.t-text{
  h2{
    @include rem(font-size, $font-size--double);
  }
  p, li{
    @include rem(font-size, $font-size--medium);
    color: $color--text--light;
    a{
      border-bottom:1px solid #000;
      @include rem(padding-bottom, $spacing--quarter);
      &:hover{
        border:none;
        text-decoration: none;
        color:$color--main;
      }
    }
  }
}