/**
 * Content 4 Basic
 * -----------------------------------------------------------------------------
 */
.l-content--40{
	background-color:$color--secondary--10;
	@include rem(padding, $padding--double 0);
}
.l-content--40--wrap{
	@include rem(padding, $spacing--base 0);
	color:$color--white;
	h1{
		@include rem(margin, 0 0 $padding--base 0);
	}
	h2{
		margin:0;
	}
	.logo-heading{
		@include rem(padding-left, 60px);
		background:url('../img/logo_w.svg') no-repeat left center;
		@include rem(background-size, 45px);
	}
}
.text-right{
	p{
		padding-left:40px;
	}
}
@include bp-xxs-m{
	.l-content--40--wrap{
		@include rem(padding, $padding--half);
	}
}
