/**
 * Content 5 Basic
 * -----------------------------------------------------------------------------
 */
.l-content--contact{
	background-color:$color--white;
	@include rem(padding, $padding--double 0);
}
.l-content--contact--wrap{
	@include rem(padding, $spacing--base 0);
	color:$color--secondary--10;
	h1{
		@include rem(margin, 0 0 $padding--base 0);
		font-weight:500;
	}
	h2{
		margin:0;
		font-weight:600;
	}
	ul{
    padding: 0;
    margin: 1px;
    overflow: hidden;
		li{
			@include rem(margin-bottom, $padding--half);
			list-style: none;
			i{
				&.fa-float{
					float: left;
				}
				@include rem(margin-right, $padding--half);
				font-size:$font-size--large;
			}
		}
	}
	textarea#message{
		@include rem(height, $padding--quad);
	}
}
#map{
	height:300px;
}
@include bp-xxs-m{
	.l-content--contact--wrap{
		@include rem(padding, $padding--half);
		
	}
}
