/**
 * Base: Module > Block > nav > b-nav--10
 * -----------------------------------------------------------------------------
 */

.b-nav--10{
	@include rem(margin-top, $spacing--base);
	> ul{
	  padding:0;
	  margin: 0 auto;
	  background-color: rgba($color--primary--10, .5);
	  position: relative;
		> li {
			list-style: none;
		  float: left;
		  .is-dropdown{
		  	/* e.g. arrow down */
		  }
			> a {
				font-family: $font-family--secondary;
				font-weight: 600;
				@include rem(font-size, $font-size--small);
				color: $color--white;
				@include rem(padding, 1rem 1.2rem);
				text-transform: uppercase;
				letter-spacing:1px;
				&:hover{
					background-color: $color--main;
				}
			}
			&:last-child > a {
					@include rem(padding-right, 3.2rem);
			}
		  &.current{
		  	> a {
		  		background-color: $color--main;
		  		color: $color--white;
		  		outline: 1px solid $color--main;
		  		&:hover{
		  			color:$color--primary--10;
		  			background-color: $color--white;
		  		}
		  	}
		  }
		  &.current-hover{
		  	> a {
		  		background-color: $color--main;
		  		color: $color--white;
		  		outline: 1px solid $color--main;
		  	}
		  }
			> ul {
				display: none;
				width:100%;
				background-color: rgba($color--primary--10, 1);
				@include rem(padding, 1rem 1.2rem);
				z-index:99;
				position:absolute;
				left:0;
				margin:0;
				list-style: none;
				&:after{
					clear:both;
				}
				> li {
					margin: 0;
					padding-bottom: 0;
					list-style: none;
					background:none;
					width:25%;
					float:left;
					a{
						display:block;
						width:100%;
						color: $color--white;
						@include rem(padding, 1rem 1.2rem);
						&:hover{
							text-decoration:none;
							background-color:$color--main;
						}
					}
					span, span.x-dropdown-sub-title{
						display:block;
						width:100%;
						color: $color--gray-light;
						@include rem(padding, 1.2rem 1.2rem);
						&:after{
							content:"\a0";
						}
					}
					> ul{
						display:block;
						padding:0;
						margin: 10px 0 0;
						list-style: none;
						&:after{
							clear:both;
						}
						> li{
							float:left;
							width:100%;
							margin: 0;
							a{
								border: 0;
								@include rem(padding, 1rem 1.2rem);
							}
						}
					}
				}
        &.normal-sub {
            width: auto;
            left: auto;
            padding: 10px 20px;
            > li {
                width: 100%;
                a {
                    @include rem(padding, 1rem 1.2rem);
                }
            }
        }
			}
		}
	}
}
@include bp-xxs-xs{
	.b-nav--10 {
		@include rem(margin-top, $padding--half);
		display:none;
		&.nav-active{
			display:block;
		}
		ul{
			background-color: $color--white;
			@include rem(padding, $padding--half);
			> li{
				float:none;
				&:last-child > a{
					@include rem(padding-right, 1.2rem);
				}
				> a {
					color:$color--black;
					display:block;
					&:hover{
						background-color:$color--main;
						color: $color--white;
						outline:1px solid $color--white;
					}
					&:focus{
						color:$color--black;
					}
				}
				&.current {
					> a {
						background-color: $color--main;
						outline: 0;
						&:hover{
							background-color: $color--main;
							color: $color--white;
						}
					}
				}
				> ul{
					background-color:$color--main;
					position:relative;
					&.normal-sub{
						width:100%;
						> li{
							margin:0;
						}
					}
					> li{
						float:none;
						width:100%;
						margin-top:1px;
						&:first-child{
							margin:0;
						}
						span{
							display:none;
						}
						> ul{
							position:relative;
							margin:0;
							> li{
								float:none;
							}
						}
					}
				}
			}
		}
	}
}
