/**
 * Base: Module > Block > nav > b-nav--10
 * -----------------------------------------------------------------------------
 */
.b-nav--10{
	@include rem(margin-top, $spacing--base);
	> ul{
		  padding:0;
		  margin: 1px;
		  overflow: hidden;
		  background-color: rgba($color--primary--10, .5);
		> li {
			list-style: none;
		  float: left;
		  margin: 1px 0;
			&:last-child{
				margin-right: 0;
				> a {
					@include rem(padding-right, 3.2rem);
				}
			}
			> a {
				font-family: $font-family--secondary;
				font-weight: 600;
				@include rem(font-size, $font-size--small);
				color: $color--white;
				@include rem(padding, 1rem 1.2rem);
				text-transform: uppercase;
				letter-spacing:1px;
				&:hover{
					background-color: $color--main;
				}
			}
		  &.current{
		  	> a {
		  		background-color: $color--main;
		  		color: $color--white;
		  		outline: 1px solid $color--main;
		  		&:hover{
		  			color:$color--primary--10;
		  			background-color: $color--white;
		  		}
		  	}
		  } 
		}
	}
}
@include bp-xxs-xs{
	.b-nav--10 {
		@include rem(margin-top, $padding--half);
		display:none;
		&.nav-active{
			display:block;
		}
		ul{
			background-color: $color--white;
			@include rem(padding, $padding--half);
			> li{
				float:none;
				> a {
					border: 1px solid $color--white;
					color:$color--black;
					&:hover{
						background-color:$color--main;
						color: $color--white;
						outline:1px solid $color--white;
					}
				}
				&.current {
					> a {
						background-color: $color--main;
						outline: 0;
						&:hover{
							background-color: $color--main;
							color: $color--white;
						}
					}
				}
			}
		}
	}
}
