/**
 * Content 5 Basic
 * -----------------------------------------------------------------------------
 */
.l-content--50{
	background-color:$color--white;
	@include rem(padding, $padding--double 0);
}
.l-content--50--wrap{
	@include rem(padding, $spacing--base 0);
	color:$color--secondary--10;
	h1{
		@include rem(margin, 0 0 $padding--base 0);
		font-weight:500;
	}
	h2{
		margin:0;
		font-weight:600;
	}
	.logo-heading{
		@include rem(padding-left, 60px);
		background:url('../img/logo.svg') no-repeat left center;
		@include rem(background-size, 45px);
	}
}
@include bp-xxs-m{
	.l-content--50--wrap{
		@include rem(padding, $padding--half);
	}
}
