		<a name="oeffentliche_sicherheit"></a>
		<section class="container-full l-content--50">
			<div class="container l-content--50--wrap">
				<div class="logo-heading">
					<h2>&Ouml;ffentliche Sicherheit</h2>
					<h1>Bus, Bahn &amp; Tram</h1>
				</div>
				<div class="row">
					<div class="col-xxs-12">
					<img src="http://placehold.it/250x250" style="width:100%; height:250px; margin-bottom:50px;">
					</div>
				</div>
				<div class="row">
					<div class="col-xxs-12 col-s-6">
						<p>
							Das sichere Auftreten ist für uns von ebenso großer Bedeutung wie für unsere Auftraggeber. 

							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.<br />
						</p>
					</div>
					<div class="col-xxs-12 col-s-6">
						<p class=" u-margin-bottom">
							Das sichere Auftreten ist für uns von ebenso großer Bedeutung wie für unsere Auftraggeber. 
							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam<br />
						</p>
						<button class="btn-outline btn-link-dark btn-outline-main">Erfahren Sie mehr</button><button class="btn-outline btn-link-dark">Angebot anfordern</button>
					</div>
			</div>
		</section>