.b-hero, .b-hero--small{
	@include rem(margin, $padding--double 0);
	h1{
		color:$color--white;
		@include rem(font-size, 3.4rem);
		letter-spacing:3px;
	}
	h2{
		color:$color--gray-light;
		font-family: $font-family--secondary;
		font-weight:400;
		@include rem(font-size, 2rem);
		letter-spacing:2px;
		margin-top:-15px;
		@include rem(margin-bottom, $padding--base);
	}
}
.b-hero--small{
	@include rem(margin, $padding--base 0);
}
@include bp-xxs-xs{
	.b-hero, .b-hero--small{
		@include rem(padding, $padding--half $padding--base);
		@include rem(margin, $padding--half 0);
		text-align:center;
		h1{
			@include rem(font-size, 2rem);
		}
	}
}