/**
 * Content 4 Basic
 * -----------------------------------------------------------------------------
 */
.l-subcnt--blog{
	background-color:$color--white;
	@include rem(padding, $padding--double 0);
	overflow:hidden;
	.l-subcnt--blog--wrap{
		color:$color--text--dark;
		article{
			@include rem(margin-bottom, $padding--base);
			h2{
				a{
					color:$color--main;
				}
			}
			span.x-created{
				color:$color--gray-light;
			}
			span.x-categories{
				@include rem(margin-left, $spacing--xs);
				color:$color--text--dark;
				a{
					color:$color--black;
				}
			}
			p{
				@include rem(margin-top, $spacing--base);
			}
		}
		.x-rightbar{ /* v2 */
			@include rem(padding, $padding--half);
			@include rem(margin-left, $padding--half);
			background-color:$color--gray-light--30;
			right:0;
			width:100%;
			@include rem(height, 24rem);
			&.x-heightauto{
				height:auto;
			}
			div{
				@include rem(margin-bottom, $padding--small);
				h3{
					margin-top:0;
					@include rem(margin-bottom, $spacing--quarter);
					&+small{
						display:block;
						color:$color--gray-light;
						margin-top:0;
					}
				}
				small{
					display:block;
					color:$color--gray-light;
					@include rem(margin, $spacing--base 0);
				}
				textarea{
					max-width:100%;
				}
			}
		}
	}
}
@include bp-xxs-xs{
	.l-subcnt--11--wrap{
		.x-list{
			li{
				float:none!important;
				width:100%!important;
			}
		}
	}
}
@include bp-xxs-m{
	.l-subcnt--11--wrap{
		.x-rightbar{
			@include rem(margin, $padding--base 0);
			margin-left:0!important;
		}
		@include rem(padding, $padding--half);
	}
}
