<template>
  <div id="probemitglieder_view">
  
    <messages :messageText="messageText" :messageShow="messageShow" @update="updateMessageShow"></messages>

    <v-container fluid class="pa-0">
      <v-layout>
        <v-text-field
          solo
          prepend-icon="search"
          placeholder="Nach Mitglied suchen"
          v-model="dataTable.search"
          @keydown.native.esc="dataTable.search = null"
        ></v-text-field>
        <v-btn v-if="dataTable.search" icon @click="dataTable.search = null" small class="searchclear">
          <v-icon>close</v-icon>
        </v-btn>
      </v-layout>  
    </v-container>
    <v-container fluid>

      <v-layout justify-center class="pb-5">
        <v-data-table
          v-bind:headers="dataTable.headers"
          v-bind:items="dataTable.items"
          v-bind:search="dataTable.search"
          :pagination.sync="dataTable.pagination"
          :rows-per-page-items="[15, 25, 50, { text: 'Alle', value: -1 }]"
          rows-per-page-text="Einträge pro Seite"
          class="elevation-1"
        >
          <template slot="items" slot-scope="props">
            <template v-if="currentTrial(props.item.prtr_bis)">
            <tr class="green lighten-4">
            <td>{{ props.item.anrede ? 'Herr' : 'Frau' }}</td>
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.vorname }}</td>
            <td>{{ props.item.anschrift }}</td>
            <td class="text-xs-right">{{ props.item.plz }}</td>
            <td>{{ props.item.stadt }}</td>
            <td class="text-xs-right">{{ formatDate(props.item.prtr_von) }}</td>
            <td class="text-xs-right"><strong>{{ formatDate(props.item.prtr_bis) }}</strong></td>
            <td class="text-xs-right" v-if="props.item.bezahlt"><v-icon class="green--text">check</v-icon></td>
            <td class="text-xs-right" v-else><v-icon class="grey--text">remove</v-icon></td>
            <td class="text-xs-right">
              <v-menu bottom right offset-y>
                <v-btn slot="activator" icon>
                  <v-icon class="grey--text text--lighten-1">more_vert</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile @click="showEditTrial(props.item.id)">
                    <v-list-tile-title>Bearbeiten</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile @click="deleteTrial(props.item.id)">
                    <v-list-tile-title>Löschen</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </td>
            </tr>
            </template>

            <template v-else>
              <tr>
                <td>{{ props.item.anrede ? 'Herr' : 'Frau' }}</td>
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.vorname }}</td>
                <td>{{ props.item.anschrift }}</td>
                <td class="text-xs-right">{{ props.item.plz }}</td>
                <td>{{ props.item.stadt }}</td>
                <td class="text-xs-right">{{ formatDate(props.item.prtr_von) }}</td>
                <td class="text-xs-right">{{ formatDate(props.item.prtr_bis) }}</td>
                <td class="text-xs-right" v-if="props.item.bezahlt"><v-icon class="green--text">check</v-icon></td>
                <td class="text-xs-right" v-else><v-icon class="grey--text text--lighten-2">remove</v-icon></td>
                <td class="text-xs-right">
                  <v-menu bottom right offset-y>
                    <v-btn slot="activator" icon>
                      <v-icon class="grey--text text--lighten-1">more_vert</v-icon>
                    </v-btn>
                    <v-list>
                      <v-list-tile @click="showEditTrial(props.item.id)">
                        <v-list-tile-title>Bearbeiten</v-list-tile-title>
                      </v-list-tile>
                      <v-list-tile @click="deleteTrial(props.item.id)">
                        <v-list-tile-title>Löschen</v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </td>
              </tr>
            </template>
          </template>
          <template slot="no-data">
              Derzeit konnten keine Mitglieder gefunden werden.
          </template>
          <template slot="no-results">
              Unter dem Begriff "{{dataTable.search}}" wurden keine Mitglieder gefunden.
          </template>
          <!--
          <template slot="pageText" slot-scope="{ pageStart, pageStop }">
            {{ pageStart }} von {{ pageStop }}
          </template>
          -->
        </v-data-table>
      </v-layout>

      <v-btn
        fixed
        dark
        fab
        bottom
        right
        color="red accent-4"
        @click.native="addMember.dialog = true"
      >
        <v-icon>add</v-icon>
      </v-btn>

      <!-- Add trial dialog -->
      <v-dialog
        @keydown.esc = "addMember.dialog = false"
        v-model="addMember.dialog"
        fullscreen
        transition="dialog-bottom-transition"
        :overlay=false
        scrollable
      >
        <v-card>
          <v-toolbar style="flex: 0 0 auto;" dark class="primary">
            <v-btn icon @click.native="addMember.dialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Probemitglied anlegen</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat :disabled="!addMember.valid" @click.native="createTrial">Hinzufügen</v-btn>
              <!-- 
              <v-menu bottom right offset-y>
                <v-btn slot="activator" dark icon>
                  <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile v-for="item in dataTable.items" :key="item.id" @click="">
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
              -->
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text>
            <v-subheader class="pa-0">Angaben des Mitglieds</v-subheader>
            <v-form v-model="addMember.valid" ref="form_addMember">
              <v-container class="pa-0" fluid grid-list-xl>
                <v-layout wrap>
                  <v-flex xs12 sm2>
                    <v-select
                      label="Anrede/Geschlecht"
                      v-model="addMember.fields.anrede"
                      :items="[{text: 'Frau', value: '0'}, {text: 'Herr', value: '1'}]"
                      :rules="[addMember.formRules.required]"
                      required
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      label="Vorname"
                      v-model="addMember.fields.vorname"
                      :rules="[addMember.formRules.required, addMember.formRules.name.rule]"
                      :hint="addMember.formRules.name.hint"
                      validate-on-blur
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Nachname"
                      v-model="addMember.fields.name"
                      :rules="[addMember.formRules.required, addMember.formRules.name.rule]"
                      :hint="addMember.formRules.name.hint"
                      required
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field
                      label="Anschrift"
                      v-model="addMember.fields.anschrift"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs4 sm2>
                    <v-text-field
                      type="number"
                      label="Postleitzahl"
                      v-model="addMember.fields.plz"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs8 sm10>
                    <v-text-field
                      label="Stadt"
                      v-model="addMember.fields.stadt"
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout wrap>
                  <v-flex xs12 sm5>
                    <v-menu
                      lazy
                      :close-on-content-click="false"
                      v-model="addMember.fields.prtr_von.menu"
                      transition="scale-transition"
                      offset-y
                      full-width
                      :nudge-right="40"
                      max-width="290px"
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        label="Probetraining Beginn"
                        v-model="addMember.fields.prtr_von.dateFormatted"
                        @blur="date = parseDate(addMember.fields.prtr_von.dateFormatted)"
                        :rules="[addMember.formRules.required]"
                        prepend-icon="event"
                        required
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="addMember.fields.prtr_von.date" no-title scrollable actions locale="de-de" @input="addMember.fields.prtr_von.dateFormatted = formatDate($event)">
                        <template slot-scope="{ save, cancel }">
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="cancel">Abbrechen</v-btn>
                            <v-btn flat color="primary" @click="save">OK</v-btn>
                          </v-card-actions>
                        </template>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm5>
                    <v-menu
                      lazy
                      :close-on-content-click="false"
                      v-model="addMember.fields.prtr_bis.menu"
                      transition="scale-transition"
                      offset-y
                      full-width
                      :nudge-right="40"
                      max-width="290px"
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        label="Probetraining Ende"
                        v-model="addMember.fields.prtr_bis.dateFormatted"
                        @blur="date = parseDate(addMember.fields.prtr_bis.dateFormatted)"
                        :rules="[addMember.formRules.required]"
                        prepend-icon="event"
                        required
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="addMember.fields.prtr_bis.date" no-title scrollable actions locale="de-de" @input="addMember.fields.prtr_bis.dateFormatted = formatDate($event)">
                        <template slot-scope="{ save, cancel }">
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="cancel">Abbrechen</v-btn>
                            <v-btn flat color="primary" @click="save">OK</v-btn>
                          </v-card-actions>
                        </template>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm2>
                    <v-checkbox
                      label="Bezahlt?"
                      v-model="addMember.fields.bezahlt"
                    ></v-checkbox>
                  </v-flex>
                </v-layout>
              </v-container>

              <v-btn
                @click="createTrial"
                :disabled="!addMember.valid"
              >
                Hinzufügen
              </v-btn>
              <v-btn @click="clearForm">Zurücksetzen</v-btn>
            </v-form>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </v-card>
      </v-dialog>

      <!-- Edit trial dialog -->
      <v-dialog
        @keydown.esc = "editMember.dialog = false"
        v-model="editMember.dialog"
        fullscreen
        transition="dialog-bottom-transition"
        :overlay=false
        scrollable
      >
        <v-card>
          <v-toolbar style="flex: 0 0 auto;" dark class="primary">
            <v-btn icon @click.native="editMember.dialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>Probemitglied bearbeiten</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat :disabled="!editMember.valid" @click.native="editTrial(editMember.fields.id)">Speichern</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-card-text>
            <v-subheader class="pa-0">Angaben des Mitglieds</v-subheader>
            <v-form v-model="editMember.valid" ref="form_editMember">
              <v-container class="pa-0" fluid grid-list-xl>
                <v-layout wrap>
                  <v-flex xs12 sm2>
                    <v-select
                      label="Anrede/Geschlecht"
                      v-model="editMember.fields.anrede"
                      :items="[{text: 'Frau', value: '0'}, {text: 'Herr', value: '1'}]"
                      :rules="[editMember.formRules.required]"
                      required
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      label="Vorname"
                      v-model="editMember.fields.vorname"
                      :rules="[editMember.formRules.required, editMember.formRules.name.rule]"
                      :hint="editMember.formRules.name.hint"
                      required
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Nachname"
                      v-model="editMember.fields.name"
                      :rules="[editMember.formRules.required, editMember.formRules.name.rule]"
                      :hint="editMember.formRules.name.hint"
                      required
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field
                      label="Anschrift"
                      v-model="editMember.fields.anschrift"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs4 sm2>
                    <v-text-field
                      type="number"
                      label="Postleitzahl"
                      v-model="editMember.fields.plz"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs8 sm10>
                    <v-text-field
                      label="Stadt"
                      v-model="editMember.fields.stadt"
                    ></v-text-field>
                  </v-flex>
                </v-layout>

                <v-layout wrap>
                  <v-flex xs12 sm5>
                    <v-menu
                      lazy
                      :close-on-content-click="false"
                      v-model="editMember.fields.prtr_von.menu"
                      transition="scale-transition"
                      offset-y
                      full-width
                      :nudge-right="40"
                      max-width="290px"
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        label="Probetraining Beginn"
                        v-model="editMember.fields.prtr_von.dateFormatted"
                        @blur="date = parseDate(editMember.fields.prtr_von.dateFormatted)"
                        :rules="[editMember.formRules.required]"
                        prepend-icon="event"
                        required
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="editMember.fields.prtr_von.date" no-title scrollable actions locale="de-de" @input="editMember.fields.prtr_von.dateFormatted = formatDate($event)">
                        <template slot-scope="{ save, cancel }">
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="cancel">Abbrechen</v-btn>
                            <v-btn flat color="primary" @click="save">OK</v-btn>
                          </v-card-actions>
                        </template>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm5>
                    <v-menu
                      lazy
                      :close-on-content-click="false"
                      v-model="editMember.fields.prtr_bis.menu"
                      transition="scale-transition"
                      offset-y
                      full-width
                      :nudge-right="40"
                      max-width="290px"
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        label="Probetraining Ende"
                        v-model="editMember.fields.prtr_bis.dateFormatted"
                        @blur="date = parseDate(editMember.fields.prtr_bis.dateFormatted)"
                        :rules="[editMember.formRules.required]"
                        prepend-icon="event"
                        required
                        readonly
                      ></v-text-field>
                      <v-date-picker v-model="editMember.fields.prtr_bis.date" no-title scrollable actions locale="de-de" @input="editMember.fields.prtr_bis.dateFormatted = formatDate($event)">
                        <template slot-scope="{ save, cancel }">
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="cancel">Abbrechen</v-btn>
                            <v-btn flat color="primary" @click="save">OK</v-btn>
                          </v-card-actions>
                        </template>
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm2>
                    <v-checkbox
                      label="Bezahlt?"
                      v-model="editMember.fields.bezahlt"
                    ></v-checkbox>
                  </v-flex>
                </v-layout>
              </v-container>

              <v-btn
                @click="editTrial(editMember.fields.id)"
                :disabled="!editMember.valid"
              >
                Speichern
              </v-btn>
              <v-btn @click="clearForm">Zurücksetzen</v-btn>
            </v-form>
          </v-card-text>
          <div style="flex: 1 1 auto;"></div>
        </v-card>
      </v-dialog>

    </v-container>
  </div>
</template>

<script>
  import axios from 'axios'
  import Messages from '@/components/inc/Messages'

  export default {
    components: {
      'messages': Messages
    },

    data () {
      return {
        // Data for the message/alert child component
        messageText: '',
        messageShow: false,

        // Data for the data table
        dataTable: {
          headers: [
            { text: 'Anrede', value: 'anrede', align: 'left', width: '5%', sortable: false },
            {
              text: 'Nachname',
              align: 'left',
              value: 'name'
            },
            { text: 'Vorname', value: 'vorname', align: 'left' },
            { text: 'Anschrift', value: 'anschrift', align: 'left' },
            { text: 'Postleitzahl', value: 'plz', width: '5%' },
            { text: 'Stadt', value: 'stadt', align: 'left' },
            { text: 'Probetraining von', value: 'prtr_von', width: '5%' },
            { text: 'Probetraining bis', value: 'prtr_bis', width: '5%' },
            { text: 'Bezahlt', value: 'bezahlt', width: '5%' },
            { text: 'Optionen', value: 'optionen', width: '5%', sortable: false }
          ],
          items: [],
          search: '',
          pagination: {
            sortBy: 'prtr_bis',
            descending: true
          }
        },

        // Datas for the addMember dialog
        addMember: {
          dialog: false,
          valid: false,
          fields: {
            anrede: '',
            vorname: '',
            name: '',
            anschrift: '',
            plz: '',
            stadt: '',
            prtr_von: {
              date: null,
              dateFormatted: null,
              menu: false
            },
            prtr_bis: {
              date: null,
              dateFormatted: null,
              menu: false
            },
            bezahlt: false
          },
          formRules: {
            required: (v) => !!v || 'Dieses Feld wird benötigt.',
            email: (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Bitte korrekte E-Mail angeben',
            name: {
              rule: (v) => v.length >= 2 || 'Dieses Feld benötigt mindestens 2 Zeichen',
              hint: 'Mindestens 2 Zeichen'
            }
          }
        },

        // Date for the editMember dialog
        editMember: {
          dialog: false,
          valid: false,
          fields: {
            id: '',
            anrede: '',
            vorname: '',
            name: '',
            anschrift: '',
            plz: '',
            stadt: '',
            prtr_von: {
              date: null,
              dateFormatted: null,
              menu: false
            },
            prtr_bis: {
              date: null,
              dateFormatted: null,
              menu: false
            },
            bezahlt: false
          },
          formRules: {
            required: (v) => !!v || 'Dieses Feld wird benötigt.',
            email: (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Bitte korrekte E-Mail angeben',
            name: {
              rule: (v) => v.length >= 2 || 'Dieses Feld benötigt mindestens 2 Zeichen',
              hint: 'Mindestens 2 Zeichen'
            }
          }
        }
      }
    },
    mounted: function () {
      // Calls function which gets all the trials from the server
      this.getTrials()
    },
    methods: {
      // Update the data emitted from the 'messages' child component
      updateMessageShow (v) {
        this.messageShow = v
      },

      // Fire a message/alert
      fireMessage (v) {
        this.messageText = v
        this.messageShow = true
      },

      // Get trials
      getTrials () {
        axios.get('http://127.0.0.1:8000/api/trials')
        .then(response => {
          console.log(response)
          this.dataTable.items = response.data.data
        })
        .catch(function (error) {
          console.log(error)
          this.fireMessage(error)
        })
      },

      // Get a single trial - use case: edit trial (get fresh data for editing)
      getTrial (id) {
        axios.get('http://127.0.0.1:8000/api/trial/' + id)
        .then(response => {
          console.log(response)
          this.editMember.fields.id = response.data.data.id
          this.editMember.fields.anrede = response.data.data.anrede.toString()
          this.editMember.fields.name = response.data.data.name
          this.editMember.fields.vorname = response.data.data.vorname
          this.editMember.fields.anschrift = response.data.data.anschrift
          this.editMember.fields.plz = response.data.data.plz
          this.editMember.fields.stadt = response.data.data.stadt
          this.editMember.fields.prtr_von.date = response.data.data.prtr_von
          this.editMember.fields.prtr_von.dateFormatted = this.formatDate(response.data.data.prtr_von)
          this.editMember.fields.prtr_bis.date = response.data.data.prtr_bis
          this.editMember.fields.prtr_bis.dateFormatted = this.formatDate(response.data.data.prtr_bis)
          this.editMember.fields.bezahlt = response.data.data.bezahlt
        })
        .catch(function (error) {
          console.log(error)
          this.fireMessage(error)
        })
      },

      // Create a trial
      createTrial () {
        if (this.$refs.form_addMember.validate()) {
          // Native form submission is not yet supported
          axios.post('http://127.0.0.1:8000/api/trial', {
            anrede: this.addMember.fields.anrede,
            name: this.addMember.fields.name,
            vorname: this.addMember.fields.vorname,
            anschrift: this.addMember.fields.anschrift,
            plz: this.addMember.fields.plz,
            stadt: this.addMember.fields.stadt,
            prtr_von: this.addMember.fields.prtr_von.date,
            prtr_bis: this.addMember.fields.prtr_bis.date,
            bezahlt: this.addMember.fields.bezahlt
          })
          .then(response => {
            console.log(response)
            // Push the new entry to the dataTable
            this.dataTable.items.push(response.data.data)
            this.fireMessage('Hinzufügen erfolgreich')
            // Close dialog if validation and creating was successful.
            this.addMember.dialog = false
            this.clearForm()
          })
          .catch(function (error) {
            console.log(error)
          })
        }
      },

      // Show edit trial method, because we need the id passed by the button and populate the fields
      showEditTrial (id) {
        // We should get the data fresh from the API, in case we got cached values, we will not corrupt data on save
        this.getTrial(id)
        this.editMember.dialog = true
      },

      // Edit a trial
      editTrial (id) {
        if (this.$refs.form_editMember.validate()) {
          // Native form submission is not yet supported
          axios.post('http://127.0.0.1:8000/api/trial?trial_id=' + id, {
            // One method to use put
            _method: 'PUT',
            anrede: this.editMember.fields.anrede,
            name: this.editMember.fields.name,
            vorname: this.editMember.fields.vorname,
            anschrift: this.editMember.fields.anschrift,
            plz: this.editMember.fields.plz,
            stadt: this.editMember.fields.stadt,
            prtr_von: this.editMember.fields.prtr_von.date,
            prtr_bis: this.editMember.fields.prtr_bis.date,
            bezahlt: this.editMember.fields.bezahlt
          })
          .then(response => {
            console.log(response)
            // Since I don't know how to update an item in an array and for delivery sake, I delete the item first and then push it to the array again. See deleteTrial for explaination of pos
            let pos = this.dataTable.items.map(function (e) { return e.id }).indexOf(id)
            this.dataTable.items.splice(pos, 1)
            this.dataTable.items.push(response.data.data)
            // Close dialog if validation and creating was successful
            this.fireMessage('Speichern erfolgreich')
            this.editMember.dialog = false
            this.clearForm()
          })
          .catch(function (error) {
            console.log(error)
          })
        }
      },

      // Delete a trial
      deleteTrial (id) {
        axios.delete('http://127.0.0.1:8000/api/trial/' + id)
        .then(response => {
          console.log(response)

          // Find the index of the item inside the data array for splice - https://stackoverflow.com/questions/8668174/indexof-method-in-an-object-array/44790688#44790688
          let pos = this.dataTable.items.map(function (e) { return e.id }).indexOf(id)

          // Remove the trial from the dataTable
          this.dataTable.items.splice(pos, 1)
          this.fireMessage('Löschen erfolgreich')
        })
        .catch(function (error) {
          console.log(error)
        })
      },

      // Clear the form - hacky, it will clear both forms as I didn't find a fast way to pass the individual form refs here. Still throws fucking error in console
      clearForm () {
        this.$refs.form_addMember.reset()
        this.$refs.form_editMember.reset()
      },

      // Format the date from iso 8601 to german format to populate dateFormatted
      formatDate (date) {
        if (!date) {
          return null
        }

        const [year, month, day] = date.split('-')
        return `${day}.${month}.${year}`
      },
      // Restore the iso date format to populate the original date
      parseDate (date) {
        if (!date) {
          return null
        }

        const [day, month, year] = date.split('.')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },

      // Get today date in iso date format (without time or timezone, just date)
      getToday () {
        let date = new Date()
        let dd = date.getDate()
        let mm = date.getMonth() + 1
        let yyyy = date.getFullYear()

        if (dd < 10) {
          dd = '0' + dd
        }

        if (mm < 10) {
          mm = '0' + mm
        }

        return yyyy + '-' + mm + '-' + dd
      },

      // Check if a trial is currently in trial-mode
      currentTrial (prtrBis) {
        if (prtrBis >= this.getToday()) {
          return true
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .searchclear{
    position: absolute;
    right: 0;
    margin-top: 10px;
  }
</style>
