/**
 * Content 4 Basic
 * -----------------------------------------------------------------------------
 */
.l-subcnt--10{
	background-color:$color--white;
	@include rem(padding, $padding--double 0);
	overflow:hidden;

	.l-subcnt--10--wrap{
		color:$color--text--dark;
		.x-rightbar{ /* v1 */
			@include rem(padding, $padding--half);
			background-color:$color--gray-light--30;
			position:absolute;
			right:0;
			width:100%;
			@include rem(height, 24rem);
			h3{
				margin-top:0;
				@include rem(margin-bottom, $spacing--quarter);
				&+small{
					display:block;
					color:$color--gray-light;
					@include rem(margin-bottom, $spacing--base);
				}
			}
		}
	}
}
@include bp-xxs-m{
	.l-subcnt--10--wrap{
		@include rem(padding, $padding--half);
	}
}
