		<a name="ladensicherheit"></a>
		<section class="container-full l-modal--10">
			<div class="container l-modal--10--wrap">
				<div class="row">
					<div class="col-xxs-12 col-s-6">
						<div class="modal-container">
							<div class="modal-title">
								<h2><a href="#">Unsere Leistungen</a></h2>
							</div>
							<img src="http://www.karriere.de/media/Karriere/3/bunt_queen21---Fotolia.jpg">
						</div>
					</div>
					<div class="col-xxs-12 col-s-6">
						<div class="modal-container">
							<div class="modal-title">
								<h2><a href="#">Unser Unternehmen</a></h2>
							</div>
							<img src="http://www.karriere.de/media/Karriere/3/bunt_queen21---Fotolia.jpg">
						</div>
						<!--
						<p class="u-margin-bottom text-right">
							Das sichere Auftreten ist für uns von ebenso großer Bedeutung wie für unsere Auftraggeber. 

							Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.<br />
						</p>
						<div class="text-right">
							<button class="btn-outline btn-outline-main">Erfahren Sie mehr</button><button class="btn-outline">Angebot anfordern</button>
						</div>
						-->
					</div>
			</div>
		</section>