/**
 * Content 4 Basic
 * -----------------------------------------------------------------------------
 */
.l-modal--10{
	background-color:$color--secondary--10;
	@include rem(padding, $padding--double 0);
}
.l-modal--10--wrap{
	@include rem(padding, $spacing--base 0);
	color:$color--white;
	.modal-container{
		position:relative;
		width:100%;
		@include rem(height, 20rem);
		border:5px solid $color--black;
		.modal-title{
			position:absolute;
			right:0;
			bottom:0;
			width:75%;
			@include rem(padding, $spacing--base);
			background-color:rgba($color--gray-light--20, 0.7);
			a{
				color:#fff;
			}
		}
		img{
			width:100%;
			height:100%;
		}
	}
}
.text-right{
	p{
		padding-left:40px;
	}
}
@include bp-xxs-m{
	.l-modal--10--wrap{
		@include rem(padding, $padding--half);
		.modal-container{
			@include rem(margin-bottom, $spacing--base);
		}
	}
}
