{# ----Your Base Layout-file---- #}
{% extends "source/_layouts/_base.nunjucks" %}

{# ----VARS for the _base---- #}
{% set color = "#a91e29" %} {# Color for html tags specific value #}
{% set path_root = "/" %}
{% set path = "/assets" %} {# Folder where to access the assets #}

{# ----TITLE---- #}
{% block title %}AlphaSec - Schutz & Sicherheitsdienst Kassel - Veranstaltungsschutz, Objektschutz, Doorman - Kassel, Hannover und Frankfurt{% endblock %}

{# ----HEADER---- #}
{% block header %}
<div class="bg_main">
{% include "source/_layouts/headers/header--10/_header--10--small.nunjucks" -%}
</div>
{% endblock %}

{# ----CONTENT---- #}
{% block content %}
{% include "source/_layouts/content/subcnt--blog/_subcnt--blog.nunjucks" %}
{% include "source/_layouts/content/subcnt-last--10/_subcnt-last--10.nunjucks" %}
{% include "source/_layouts/content/cta--10/_cta--10.nunjucks" %}
{% endblock %}

{# ----FOOTER---- #}
{% block footer %}
{% include "source/_layouts/footers/footer--10/_footer--10.nunjucks" %}
{% endblock %}

{# ----TRACKING---- #}
{% block tracking %}
		<script>
		    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		    e.src='https://www.google-analytics.com/analytics.js';
		    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
		</script>
{% endblock %}
