/**
 * Help CTA
 * -----------------------------------------------------------------------------
 */
.l-helpcta--10{
	background-color:$color--white;
	display:none;
	.l-helpcta--10--wrap{
		color:$color--text--dark;
		.x-bar{
			background-color: $color--main;
			@include rem(padding, $padding--half 0);
			.x-bar-select{
				position:relative;
				select{
					margin: 0 auto;
					width: 60%;
				}
			}
			.x-bar-text{
				color: $color--text;
				font-family: $font-family--secondary;
				font-weight: 500;
				font-size: $font-size--medium;
			}
		}
		.x-helpcta-unit{
			@include rem(padding, $padding--double 0 0 0);
			display: none;
		}
	}
}

@include bp-xxs-s{
	.l-helpcta--10--wrap{
		.x-bar{
			.x-bar-text{
				text-align:center;
				@include rem(margin-top, $spacing--quarter);

			}
		}
	}
}
@include bp-xxs-m{
	.l-helpcta--10--wrap{
		@include rem(padding, $padding--half);
	}
}
