/**
 * Content 1 Basic
 * -----------------------------------------------------------------------------
 */
.l-content--10{
}
.l-content--space--10{
	@include rem(padding, $padding--big);
	background-color:$color--white;
	color: $color--primary--10;
	h1{
		@include rem(margin-bottom, 60px)
	}
	form{
		font-family:'Roboto', sans-serif;
	}
}
.l-content--space--20{
	@include rem(padding, $padding--big);
	background-color:$color--main;
	color:$color--white;
	.f-hero{
		display:block;
		 @include rem(padding, $spacing--base 0);
	}
}
.l-content--space--30{
	color: $color--primary--10;
	background-color:$color--gray-light--30;
}
.l-content--space--40{
	@include rem(padding, $padding--base);
	color: $color--primary--10;
	background-color:$color--gray-light--30;
}
.repertoire-card{
	position:relative;
	@include rem(width, 450px);
	@include rem(padding, $padding--base $padding--base $padding--quad);
	@include rem(margin, -$padding--base auto 0);
	background-color:$color--primary--10;
	color:$color--white;
	h1{
		@include rem(margin, 0 0 $padding--base 0);
	}
	h2{
		margin:0;
	}
	p{
		font-weight:300;
	}
	img{
		position:absolute;
		@include rem(bottom, 50px);
		@include rem(right, 50px);
		@include rem(max-width, 100px);
	}
}
.repertoire-menu--10, .repertoire-menu--20{
	div:nth-child(1), div:nth-child(2){
		&:hover, &:focus{
			h3{
				color:$color--main;
			}
		}
		position:relative;
		text-align:center;
		h3{
			font-weight:600;
		}
		img{
			display:block;
			margin:auto;
		}
	}
}
.repertoire-menu--10{
	@include rem(margin-bottom, 70px);
	div:nth-child(1){
			img{
				@include rem(width, 90px);
			}
		}
	div:nth-child(2){
			img{
				@include rem(width, 100px);
			}
	}
}
.repertoire-menu--20{
	div:nth-child(1){
			img{
				@include rem(width, 90px);
			}
	}
	div:nth-child(2){
			img{
				@include rem(width, 60px);
			}
	}	
}
@include bp-xxs-s{
	.l-content--space--10{
		@include rem(padding, $padding--double $padding--half);
	}
	.l-content--space--40{
		@include rem(padding, $padding--double $padding--half);
	}
	.logo-heading h1 {
		@include rem(font-size, $font-size--medium);
	}
}
@include bp-xxs-xs{
	.l-content--space--20{
		@include rem(padding, $padding--double $padding--half);
	}
	.f-hero{
		@include rem(font-size, 2.2rem);
	}
	.repertoire-card{
		@include rem(padding, $padding--double $padding--half);
		width:100%;
		img{
		display: none;
		}
	}
}