<template>
    <v-snackbar
      :timeout="timeout"
      bottom
      v-model="show"
    >
      {{ messageText }}
      <v-btn flat color="red accent-4" @click.native="show = false">Schlie&szlig;en</v-btn>
    </v-snackbar>
</template>

<script>
  export default {
    props: ['messageText', 'messageShow'],
    data () {
      return {
        timeout: 6000
      }
    },
    computed: {
      show: {
        get () {
          return this.messageShow
        },
        set (v) {
          this.$emit('update', v)
        }
      }
    }
  }
</script>