/**
 * Call to action 1 Basic
 * -----------------------------------------------------------------------------
 */
.l-cta--10{
	position:relative;
	background:url('../img/cta--bg--10.jpg') $color--secondary--10 no-repeat left center;
	@include rem(padding, $padding--base 0);
	.facebook{
		@include rem(max-width, 100px);
	}
	.cta-headline{
		@include rem(margin, 17px 0);
	}
}
.l-cta--10--wrap{
	color:$color--white;
	h1{
		margin: 0;
		font-family: $font-family--primary--bold;
		@include rem(font-size, 1.8rem);
	}
	h2{
		margin:0;
	}
	.logo-heading{
		@include rem(padding-left, 60px);
		background:url('../img/logo.svg') no-repeat left center;
		@include rem(background-size, 45px);
	}
}
@include bp-xxs-m{
	.l-cta--10{
		@include rem(padding, $padding--half);
	}
}
@include bp-xxs-s{
	.cta-headline{
		padding: 0!important;
		> h1 {
			margin: 0;
		}
	}
}