
html{
	text-rendering: optimizelegibility;
	}
.clear{
	clear:both;
}
#bar-top{
	background-color:#0080c9;
	text-align:right;
	height:30px;
	overflow:hidden;
}
#bar-top div div{
	margin:0px -8px;
}
#bar-top ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	float: left;
	text-align: right;
	position:absolute;
	right:130px;
	line-height:1.875em;
}
#bar-top ul li{
	float: left;
	color: #fff;
	padding: 0px 5px;
	text-decoration: none;right
}
#bar-top ul > li:last-child{
	float:right;
}
#bar-top ul li a{
	color:#8ab4cd;
	text-decoration:none;
	font-size:0.8em;
}
#bar-top ul li a:hover{
	color:#fff;
}
#bar-top ul span{
	display:block;
	margin:0 15px;
	float:left;
	color:#ddd;
}
#bar-top ul span:last-child{
	padding-right:0;
	display:none;
}
#bar-top .btn_top{
	background-color:#00a2ff;
	color:#fff;
	font-size:0.8em;
	padding:0 6px;
	height:30px;
	display:inline-block;
	line-height:30px;
	cursor: pointer;
}
.btn_sub{
	background-color:rgba(0,0,0,.8);
	color:#fff;
	font-size:0.8em;
	padding:0 6px;
	height:30px;
	display:block;
	line-height:30px;
	cursor: not-allowed;
}
.btn_sub:hover{
	background-color:rgba(0,128,201,1);
}
#bar-top .btn_top img, .btn_sub img{
	display:inline-block;
	vertical-align: middle;
	float:left;
	padding-right:5px;
	margin-top:5px;
	margin-right:5px;
}
#bar-top .btn_top .menu_icon, .btn_sub .menu_icon {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    float: right;
    display: inline-block;
    margin-left: 10px;
    margin-top:6px;
    width: 20px;
    height: 18px;
    background: url('../img/triangle-down-white.png') center center no-repeat;
}
#bar-top .menu_icon_flip .menu_icon{
	-webkit-transform: rotate(-180deg);
    	-moz-transform: rotate(-180deg);
   	-ms-transform: rotate(-180deg);
 	-o-transform: rotate(-180deg);
   	transform: rotate(-180deg);
} 
.btn_sub .menu_icon{
	background:none;
}
.btn_lang_choice{
	position:absolute;
	right:0;
	display:none;
}
#header{
	background:url('../img/header.jpg') no-repeat center center;
	background-size: cover;
	border-bottom:10px solid #0080c9;
	padding-bottom:50px;
}
#header.gutversorgt{
	background-image:url('../img/header.jpg');
}
#header.kliniknetz{
	background-image:url('../img/header.jpg');
}
#header.klinikfinder{
	background-image:url('../img/header.jpg');
}
#header.jetztabsichern{
	background-image:url('../img/header.jpg');
}
#header.impressum{
	background-image:url('../img/header.jpg');
}
#header .menu{
	background-color:rgba(42, 60, 101, 0.4);
	padding:0px 20px;
	margin-bottom:50px;
	position: relative;
}
#header .sub, #header.sub{
	margin-bottom:0px;
	padding-bottom:0px;
}
#header .menu .logo{
	max-width:250px;
	margin:20px 0px;
}
#header .menu .tel{
	color:#fff;
	font-family: BrandonPrinted-One;
	font-size:2.5em;
	display:block;
	margin-top:25px;
	text-align:right;
}
#header .menu .subtext{
	color:#fff;
	font-size:0.75em;
	display:block;
	text-align:right;
	margin-top:-8px;
}
#header .menu ul{
	list-style-type: none;
    margin: 0;
    overflow: hidden;
	float: left;
	width:100%;
	margin-bottom:10px;
	padding: 0px;
}
#header .menu ul li{
	float: left;
	background-color:#0080c9;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border:1px solid transparent;
	text-transform:uppercase;
	font-family:BrandonPrinted-One;
	font-size:1.3em;
	position:relative;
}
#header .menu ul li.current{
	background-color:#00a2ff;
}
#header .menu ul li a{
	color:#fff;
	text-decoration: none;
	display:block;
	line-height:2em;
}
#header .menu ul li a:hover{
	background-color:#00a2ff;
}
#header .intro{
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-family:BrandonPrinted-One;
}
#header .intro div div img{
	width:80px;
}
#header .intro h1{
	margin-top:50px;
	font-size:3em;
	font-weight:normal;
}
#header .intro span{
	font-size:1.5em;
	font-weight:normal;
}
#content{
	margin:50px 0px;
}
#content a{
	color:#00a2ff;
	text-decoration:none;
}
#content a:hover{
	color:#000;
	text-decoration:none;
}
#content>div{
		padding:0px 20px;
}
#content h2{
	color:#0080c9;
	font-family:'Open Sans',sans-serif;
	font-weight:800;
	line-height:1.3em;
	font-size:1.5em;
}
#content h3{
	color:#3d3d3d;
	font-family:'Open Sans',sans-serif;
	margin-top:50px;
}
#content p{
	color:#3d3d3d;
	font-family:'Open Sans',sans-serif;
	line-height: 1.5em;
	font-size:1em;
}
.csc-linkToTop{
	display:none;
}
#content h3+p{
	margin-top:-20px;
	line-height:1.5em;
}
#content .mp_p_1{
	margin-top:50px;
}
#content .directlinks{
	text-align:center;
}
#content .directlinks div div div{
	margin:35px 0px;
	text-align:center;
	font-family:BrandonPrinted-One;
	font-size:1.5em;
	text-transform:uppercase;
	color:#0080c9;
	padding:30px 0px;
	position:relative;
}
#content .directlinks div div div:hover{
	background:#f5f5f5;
}
#content .directlinks div div div p{
	position:relative;
	width:150px;
	height:150px;
	margin:0px auto 20px auto;
	background-color:#0080c9;
	border-radius:150px;
}
#content .directlinks div div div p img{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:50px;
}
.default-link{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: 1;
	/* Ein Fix fuer IE7-9 */
	background-color:#ffffff;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
	filter: alpha(opacity=0);  
	opacity:0;  
}
.mapwrap{
	margin-bottom:20px;
}
#footer{
	background-color:#0080c9;
	color:#fff;
	height:40px;
	font-weight:bold;
	line-height:40px;
}
#footer>div{
	padding:0px 20px;
}
#footer a{
	color:#fff;
	text-decoration:none;
	margin-left:10px;
	font-weight:normal;
}
#footer div div div span{
	padding:0px 0px 0px 10px;
}
#footer a:hover{
	text-decoration:underline;
}

.hiddentabs>div{
	display:none;
}
.showtabs{
	display:block!important;
}
@media only screen and (min-width: 48em) and (max-width: 62em) {
	#header .menu ul li{
		font-size:1.1em;
	}
}
@media only screen and (max-width: 48em) {
	#header .menu .tel{
		font-size:2em;
		margin-bottom:10px;
	}
}
@media only screen and (max-width: 37.5em) {
	.container{
		width:100%;
	}
	#header{
		padding-bottom:20px;
	}
	#header .menu{
		background-color:rgba(0,0,0,0.6);
		padding-bottom:20px;
		margin-bottom:20px;
	}
    	#header .menu .tel, #header .menu .subtext{
		text-align:center;
     	}
	#header .menu .tel{
		font-size:1.9em;
		margin-bottom:10px;
	}
	#header .menu .subtext{
		margin-bottom:20px;
	}
	#header .menu .logo{
		width:100%;
		display:block;
		margin:10px auto;
	}
	#header .intro div div img{
		width: 40px;
	}
	#header .intro h1{
		font-size:2em;
		margin:10px 0;
	}
	#header .intro span{
		font-size:1em;
	}
	#footer{
		font-size:.6em;
		overflow:hidden;
		text-align:center;	
	}
	.mapwrap #klinikfinder_karte{
		height:308px;
		max-width:600px;
	}
	.mapwrap{
		overflow:auto;
		margin-bottom:0px;
	}
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700);
@font-face {
    font-family: BrandonPrinted-One;
    src: url(../fonts/2D7B13_0_0.eot);
    src: url(../fonts/2D7B13_0_0.eot?#iefix) format('embedded-opentype'), url(../fonts/2D7B13_0_0.woff2) format('woff2'), url(../fonts/2D7B13_0_0.woff) format('woff'), url(../fonts/2D7B13_0_0.ttf) format('truetype')
}
@font-face {
    font-family: BrandonPrintedOne-Shadow;
    src: url(../fonts/2D7B13_1_0.eot);
    src: url(../fonts/2D7B13_1_0.eot?#iefix) format('embedded-opentype'), url(../fonts/2D7B13_1_0.woff2) format('woff2'), url(../fonts/2D7B13_1_0.woff) format('woff'), url(../fonts/2D7B13_1_0.ttf) format('truetype')
}