/**
 * Content 4 Basic
 * -----------------------------------------------------------------------------
 */
.l-subcnt-last--10{
	background-color:$color--gray-light--30;
	@include rem(padding, 0 0 $padding--double 0);
	overflow:hidden;

	.l-subcnt-last--10--wrap{
		color:$color--text--dark;
		@include rem(font-size, $font-size--medium);
	  .x-headbubble{
	  	background-color:$color--white;
	  	@include rem(margin, 0 0 $padding--double 0);
	  	@include rem(padding, $padding--base 0 $padding--base $padding--base);
	    position:relative;
	    h2{
	    	@include rem(font-size, $font-size--double);
	    	color:$color--gray-light;
	    }
	    &:after{
	    	top:100%;
	    	@include rem(left, 5rem);
	    	border: solid transparent;
	    	content: " ";
	    	height:0;
	    	width:0;
	    	position:absolute;
	    	pointer-events:none;
	    }
	    &:after{
	    	border-color: rgba(0, 0, 0, 0);
				border-top-color: $color--white;
	    	border-width:30px;
	    	margin-left:-30px;
	    }
	  }
	}
}
@include bp-xxs-m{
	.l-subcnt-last--10--wrap{
		@include rem(padding, 0 $padding--half $padding--half);
	}
}
